html{
    box-sizing: border-box;
    font-size: 10px;
    background-color: rgba(141, 51, 97, 0.8);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}
h1{
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}
.score{
    background-color: rgba(62, 62, 62, 0.8);
    line-height: 1;
    border-radius: 1rem;
    padding: 0 5rem;
}
.btn-start{
    appearance: none;
    margin: auto;
    display: block;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(206, 23, 67, 0.8);
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}
.game{
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background: url('dirt.svg') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }
  
  .mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }
  
  .hole.up .mole {
    top: 0;
  }